.nav {
  height: 80px;
  background-color: #060b26;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__bars {
  color: #fff;
  font-size: 30px;

  margin-left: 2rem;
}

.nav__menu {
  background-color: #060b26;
  width: 300px;
  height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}

.nav__item {
  margin: 20px 0 60px;
}

.nav__menu.active {
  transform: translateX(0);
  height: 100vh;
}

.nav__sideLink {
  margin: 0 0 20px 32px;
  width: 80%;
  height: 60px;

  display: flex;

  transition: all 0.2s ease-out;
}

.nav__sideLink:hover {
  background-color: rgb(27, 61, 124);
  border-radius: 6px;
}

.nav__sideLink a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;

  display: flex;
  align-items: center;

  margin-left: 10px;
  padding-left: 5px;
}

.nav__sideLink span {
  margin-left: 10px;
  color: #fff;
}
